# Byte-compiled / optimized / dll files
__pycache__/
*.py[cod]
*$py.class

# Caches and local environments
.pytest_cache/
.history/
.vscode/
.idea/

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini